<app-section-header [headerText]="'Experience'" [iconName]="'js'" [iconPrefix]="'fab'"></app-section-header>
<section class="pl-2">
  <h3>"Rentifer, wypożyczaj i zarabiaj!"</h3>
  <p class="text-muted">After hours</p>
  <p class="proper-paragraph">Developing application for renting & lending stuff</p>
  <p class="proper-paragraph d-flex align-items-end">All about platform you can find by clicking on
    <a href="https://rentifer.pl/" class="mx-2">
      <img src="https://rentifer.pl/public/mail/logo.png" alt="" class="rentifer-logo">
    </a>.</p>

  <h3 class="border-top pt-3">Geomatyka-Kraków, Poland</h3>
  <p class="text-muted">2017 (November) - 2018 (now)</p>
  <p class="proper-paragraph">Front-end developer</p>
  <app-responsibilities-paragraph></app-responsibilities-paragraph>
  <p class="proper-paragraph">Developing shop application that is used for selling informations about parcels, landings etc...</p>
  <p class="proper-paragraph">Developing private npm module, which is highly configurable dynamic list component...</p>
  <p class="proper-paragraph">Developing application that is used for making new requests for offices and counties...</p>
  <app-technologies-paragraph></app-technologies-paragraph>
  <p class="proper-paragraph">Angular2+, TypeScript, Jasmine, Karma, protractor, unit-tests, e2e-tests, Scss, NPM, Bootstrap, NgBootstrap, Open-Layers.</p>

  <h3 class="border-top pt-3">Comarch, Poland</h3>
  <p class="text-muted">2017 (February - October)</p>
  <p class="proper-paragraph">Junior front-end developer</p>
  <app-responsibilities-paragraph></app-responsibilities-paragraph>
  <p class="proper-paragraph">Maintaining and creating modules of RIS (Radiology Information Suite) - application for hospitals, based on dynamic forms
    & reports.</p>
  <app-technologies-paragraph></app-technologies-paragraph>
  <p class="proper-paragraph">AngularJs, JavaScript, TypeScript, Scss, Node.</p>

  <h3 class="border-top pt-3">Comarch, Poland</h3>
  <p class="text-muted">2016 (July - September)</p>
  <p class="proper-paragraph">3 months fullstack JavaScript internship</p>
  <app-responsibilities-paragraph></app-responsibilities-paragraph>
  <p class="proper-paragraph">First training task was to create application for managing tasks in AngularJs with use of google Material Design Angular
    Fuse template.</p>
  <p class="proper-paragraph">The second task was to prepare us for contact with difficult system based on dynamic forms and reports, which was very
    configurable. We decided to make tamplate-based dynamic sport's tournament creator and realized it fully until the end
    of September.</p>
  <app-technologies-paragraph></app-technologies-paragraph>
  <p class="proper-paragraph">AngularJs, JavaScript, Gulp, Node.js, Passport.js, Scss, Neo4J, Material Design, CRUD, REST.
  </p>

</section>
